<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Your Dream Trip</h1>

    <% data.forEach(trip =>{ %>
    
        <div class="card">
            <div class="cardheader" >
                <%= trip.title %>
            </div>
            <div class="cardMain">
                <table border="1">
                    <tr>
                        <th>Destinasi</th>
                        <td><%= trip.location  %></td>
                    </tr>
                    <tr>
                        <th>Tanggal</th>
                        <td><%= trip.date  %></td>
                    </tr>
                    <tr>
                        <th>Biaya</th>
                        <td><%= trip.cost  %></td>
                    </tr>
                    <tr>
                        <th>Participant</th>
                        <td> -unset </td>
                    </tr>
                </table>

            </div>
            <div class="cardFooter">
                Host : -unset
            </div>
        </div>


    <% }) %>

</body>
</html>