<!DOCTYPE html>
<html>
<head>
    <title>DreamTrip</title>
    <link rel="stylesheet" href="/styles/dreamtrip.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div id="content">

        
        <aside>
            <h1><%= getId.name %></h1>
            <div class="asideForm">
                <hr>
                <h2>CREATE NEW TRIP</h2>

                <form action="/trip/<%= getId.id %>/add" method="POST">
                    <input type="text" name="title" placeholder="Trip Title">
                    <input type="text" name="location" placeholder="Location">
                    <input onfocus="(this.type='date')" name="date" placeholder="Date" max="2019-12-31" min="2018-07-31">
                    <input type="text" name="meet_point" placeholder="Meet Point">
                    <input type="number" name="cost" min="0" max="99999999" step="any" placeholder="Sharing Cost">
                    <input type="number" name="max" min="2" max="200" placeholder="Max Quota">
                    <div>
                        <button type="submit" class="newTripBtn">CREATE TRIP</button>
                    </div>
                </form>
                
            </div>
        </aside>

        

        <section></section>
        <footer></footer>

    </div>
    
</body>
</html>