* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aliceblue;   
    display: grid;
    justify-content: center;
    justify-items: center; 
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    background-color: blue;
    width: 100%;
}

.card {
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template: 30px 1fr 50px/ 1fr;
    width: 260px;
    background: rgba(240, 236, 179, 0.9);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px aliceblue;
    transition: .3s; 
}
.card:hover {
    background-color: rgb(0, 78, 100);
    color: aliceblue;
    box-shadow: 0px 0px 15px gray;
    
}
.cardheader {
    justify-self: center;
    display: block;
    transition: .3s;
}
.cardheader:hover {
    opacity: 1;
    font-size: 20px;
    cursor: pointer;
}
.cardMain {
    align-self: center;
    justify-self: center;
    max-width: 90%;
    text-align: center;
}
.cardFooter {
    align-self: end;
    justify-self: end;
    margin: 25px;
}